/**
 * Pinboard Bookmarks CSS styles for admin UI
 * @since 1.0
 */

.pinboard-bookmarks-widget-content h4 {
	border-top: 1px solid #a0a5aa;
	padding-top: 1em;
}

.pinboard-bookmarks-widget-content h4.no-border {
	border-top: 0 none;
	padding-top: 0;
}

.pinboard-bookmarks-widget-content ::-webkit-input-placeholder {
	color: #ccc;
}
.pinboard-bookmarks-widget-content :-moz-placeholder {  /* Firefox 18- */
	color: #ccc;
}
.pinboard-bookmarks-widget-content ::-moz-placeholder { /* Firefox 19+ */
	color: #ccc;
}
.pinboard-bookmarks-widget-content :-ms-input-placeholder {
	color: #ccc;
}

.pinboard-bookmarks-alert {
	background-color: #F7F2D2;
	padding: 1em;
}
